In [ ]:

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN

DECLARE M INT;
SET M = N - 1;
  RETURN (
    
      SELECT DISTINCT Salary
      FROM Employee
      ORDER BY Salary DESC
      LIMIT 1 OFFSET M
      
  );
END

Runtime: 392 ms, faster than 38.30% of MySQL online submissions for Nth Highest Salary.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Nth Highest Salary.

In [ ]:


CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
    RETURN (
        /* Write your T-SQL query statement below. */
        SELECT Salary FROM 
        (
            SELECT
                row_number() OVER (ORDER BY salary DESC) AS row_num,            
                emp.salary
            FROM (SELECT DISTINCT Salary FROM Employee) emp
        ) result
        WHERE row_num = N        
    );
END


Runtime: 1145 ms, faster than 5.01% of MySQL online submissions for Nth Highest Salary.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Nth Highest Salary.