In [ ]:
select 
(
SELECT distinct salary
FROM   employee
ORDER  BY salary DESC
LIMIT  1 OFFSET 1
) as SecondHighestSalary
;

Runtime: 237 ms, faster than 45.41% of MySQL online submissions for Second Highest Salary.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Second Highest Salary.

In [ ]:
explanation

Algorithm

Sort the distinct salary in descend order and then utilize the LIMIT clause to get the second highest salary.

SELECT DISTINCT
    Salary AS SecondHighestSalary
FROM
    Employee
ORDER BY Salary DESC
LIMIT 1 OFFSET 1
However, this solution will be judged as 'Wrong Answer' if there is no such second highest salary since there might be
only one record in this table. To overcome this issue, we can take this as a temp table.



MySQL

SELECT
    (SELECT DISTINCT
            Salary
        FROM
            Employee
        ORDER BY Salary DESC
        LIMIT 1 OFFSET 1) AS SecondHighestSalary
;